<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add Billionaire</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>
<div class="container my-5">
    <h2 class="mb-5">New Billionaire</h2>
    <div class="row">
        <div class="col-md-8">
            <form action="#" th:action="@{/addBillionaire}" th:object="${billionaire}" method="post" >
                <div class="row">

                    <div class="form-group col-md-8">
                        <label for="name" class="col-form-label">Name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="Name">
                        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="networth" class="col-form-label">Net-Worth</label>
                        <input type="text" th:field="*{networth}" class="form-control" id="networth" placeholder="networth">
                        <span th:if="${#fields.hasErrors('networth')}" th:errors="*{networth}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="companiesowned" class="col-form-label">CompaniesOwned</label>
                        <input type="text" th:field="*{companiesowned}" class="form-control" id="companiesowned" placeholder="companiesowned">
                        <span th:if="${#fields.hasErrors('companiesowned')}" th:errors="*{companiesowned}" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="image" class="col-form-label">Image</label>
                        <input type="text" th:field="*{image}" class="form-control" id="image" placeholder="image">
                        <span th:if="${#fields.hasErrors('image')}" th:errors="*{image}" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 mt-5">
                        <input type="submit" class="btn btn-primary" value="Add">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
